<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">
	<display-name>TooDoo Web Application</display-name>
	<servlet>
		<description>
		</description>
		<display-name>TooDooServlet2</display-name>
		<servlet-name>TooDooServlet2</servlet-name>
		<servlet-class>com.sck.TooDooServlet2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TooDooServlet3</display-name>
		<servlet-name>TooDooServlet3</servlet-name>
		<servlet-class>com.sck.TooDooServlet3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TooDooServlet2</servlet-name>
		<url-pattern>/TooDooServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TooDooServlet3</servlet-name>
		<url-pattern>/TooDooServlet3</url-pattern>
	</servlet-mapping>
</web-app>